<template>
  <div class="lawyer">
    <div class="lawyer_in">
      <div class="lawyer_in_main">
        <p class="lawyer_in_title">Иванов Константин Петрович</p>
        <p class="lawyer_in_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nunc est, tempus eget mi ac,<br> fermentum efficitur felis.
          Pellentesque vestibulum eros sit amet mauris luctus, in auctor justo<br> commodo. Sed eu sapien a ex gravida pharetra sit amet in ipsum.
          Cras at arcu consectetur, aliquet<br> tellus et, laoreet ligula.</p>
        <p class="lawyer_in_text">Suspendisse eget urna dolor. Praesent porta pellentesque lorem eu interdum. Pellentesque sed sem<br> sit amet ante luctus fringilla. Aenean odio nibh,
          molestie ut convallis nec, volutpat at enim. Interdum<br> et malesuada fames ac ante ipsum primis in faucibus. Suspendisse volutpat, eros a fermentum<br>commodo, nulla diam eleifend mi,
          sit amet vulputate orci elit eget ante. Nulla facilisi. Nulla a magna<br>maximus, viverra leo sit amet, elementum ante. Aliquam dictum nisi in fringilla congue.
          Aenean<br>ultrices vulputate dolor, non mattis nibh posuere sit amet.</p>
        <div class="lawyer_in_experience_items">
          <div class="lawyer_in_experience_item">
            <p class="lawyer_in_experience_item_number">304</p>
            <p class="lawyer_in_experience_item_value">Довольных<br>клиентов</p>
          </div>
          <div class="lawyer_in_experience_item">
            <p class="lawyer_in_experience_item_number">293</p>
            <p class="lawyer_in_experience_item_value">Выигранных<br>дел</p>
          </div>
          <div class="lawyer_in_experience_item">
            <p class="lawyer_in_experience_item_number">10</p>
            <p class="lawyer_in_experience_item_value">Лет<br>опыта</p>
          </div>
        </div>
      </div>
      <img alt="Vue logo" src="../../assets/pic/lawyar_pic.jpg">
    </div>
    <button @click="goHome" class="home_button"><p class="home_button_text">Главная</p></button>
  </div>
</template>

<script>
export default {
  methods: {
    goHome () {
      this.$router.push('/')
    }
  }
}
</script>

<style>
  .lawyer{
    width: 100%;
    height: 719px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .lawyer_in{
    width: 1145px;
    height: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .lawyer_in_title{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    color: #333333;
  }
  .lawyer_in_text{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 10px;
  }
  .lawyer_in_experience_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px
  }
  .lawyer_in_experience_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .lawyer_in_experience_item_number{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 24px;
    color: #BF5B20;
  }
  .lawyer_in_experience_item_value{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    color: #333333;
    margin-left: 5px;
  }
</style>
