<template>
  <div class="advantages">
    <div class="advantages_in">
      <p class="advantages_in_title">Преимущества</p>
      <div class="advantages_in_svg_items">
        <img class="advantages_in_svg_item" alt="Vue logo" src="../../assets/pic/advantages_item_1.svg">
        <img class="advantages_in_svg_item" alt="Vue logo" src="../../assets/pic/advantages_item_2.svg">
        <img class="advantages_in_svg_item" alt="Vue logo" src="../../assets/pic/advantages_item_1.svg">
      </div>
      <div class="advantages_in_items">
        <div class="advantages_in_item">
          <img alt="Vue logo" src="../../assets/pic/advantages_in_pic1.svg">
          <p class="advantages_in_item_title">Качество</p>
          <p class="advantages_in_item_text">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.</p>
        </div>
        <div class="advantages_in_item">
          <img alt="Vue logo" src="../../assets/pic/advantages_in_pic2.svg">
          <p class="advantages_in_item_title">Обратная связь</p>
          <p class="advantages_in_item_text">Nullam facilisis quam eget nunc<br> blandit, in facilisis ante sollicitudin.<br> Class aptent taciti.</p>
        </div>
        <div class="advantages_in_item">
          <img alt="Vue logo" src="../../assets/pic/advantages_in_pic3.svg">
          <p class="advantages_in_item_title">Справедливые цены</p>
          <p class="advantages_in_item_text">Proin blandit mauris ut ultrices<br> rutrum. Quisque faucibus finibus<br> porttitor.</p>
        </div>
        <div class="advantages_in_item">
          <img alt="Vue logo" src="../../assets/pic/advantages_in_pic4.svg">
          <p class="advantages_in_item_title">Минимальный риски</p>
          <p class="advantages_in_item_text">Suspendisse eget urna dolor.<br> Praesent porta pellentesque.</p>
        </div>
      </div>
    </div>
    <button @click="goHome" class="home_button"><p class="home_button_text">Главная</p></button>
  </div>
</template>

<script>
export default {
  methods: {
    goHome () {
      this.$router.push('/')
    }
  }
}
</script>

<style>
  .advantages{
    width: 100%;
    height: 719px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/pic/advantages-pic.jpg);
    background-size: cover;
    flex-direction: column;
  }
  .advantages_in{
    width: 1145px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .advantages_in_svg_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .advantages_in_svg_item{
    margin: 5px;
  }
  .advantages_in_title{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
  }
  .advantages_in_items{
    width: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .advantages_in_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .advantages_in_item_title{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin: 5px;
  }
  .advantages_in_item_text{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
</style>
