<template>
  <div class="certificates">
    <div class="certificates_in">
      <div class="certificates_in_item">
        <div class="certificates_in_item_text">
          <p class="certificates_in_item_text_title">Сертификаты</p>
          <p class="certificates_in_item_text_main">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.<br> Vestibulum euismod elit eu leo<br> venenatis pellentesque.<br>
            Aliquam finibus eget enim vel<br> placerat. Sed vestibulum ante<br> lacinia, imperdiet dui nec.</p>
        </div>
        <div class="certificates_in_item_svg">
          <img alt="Vue logo" src="../../assets/pic/certificate_svg_1.svg">
          <p class="certificates_in_item_svg_text">1/6</p>
          <img alt="Vue logo" src="../../assets/pic/certificate_svg_2.svg">
        </div>
      </div>
      <div class="certificates_in_item_pic">
        <img alt="Vue logo" src="../../assets/pic/certificate_3.jpg">
      </div>
      <img alt="Vue logo" src="../../assets/pic/certificate_2.jpg">
      <img alt="Vue logo" src="../../assets/pic/certificate_3.jpg">
    </div>
    <button @click="goHome" class="home_button"><p class="home_button_text">Главная</p></button>
  </div>
</template>

<script>
export default {
  methods: {
    goHome () {
      this.$router.push('/')
    }
  }
}
</script>

<style>
  .certificates{
    width: 100%;
    height: 719px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .certificates_in{
    width: 1145px;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .certificates_in_item_text_title{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    color: #333333;
  }
  .certificates_in_item{
    display: flex;
    flex-wrap: wrap;
    height: 380px;
    align-content: space-between;
    width: 264px;
  }
  .certificates_in_item_text_main{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #8B8B8B;
  }
  .certificates_in_item_svg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .certificates_in_item_svg_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    color: #BF5B20;
    margin-left: 5px;
    margin-right: 5px;
  }
</style>
