<template>
  <div class="contacts">
    <div class="contacts_in">
      <p class="contacts_in_title">Контакты</p>
      <div class="contacts_in_svg_items">
        <img alt="Vue logo" src="../../assets/pic/contacts_line.svg" class="contacts_in_svg_item">
        <img alt="Vue logo" src="../../assets/pic/contacts_romb.svg" class="contacts_in_svg_item">
        <img alt="Vue logo" src="../../assets/pic/contacts_line.svg" class="contacts_in_svg_item">
      </div>
      <div class="forms_map">
        <div class="forms">
          <div class="form_name_phone">
            <label>
              <input type="text" name="full_name" placeholder="ФИО" class="input_name_phone">
            </label>
            <label>
              <input type="tel" name="phone" placeholder="Телефон" class="input_name_phone">
            </label>
          </div>
          <label>
            <input type="email" name="email" placeholder="E-mail" class="input_email">
          </label>
          <label>
            <textarea placeholder="Сообщение" class="input_message"></textarea>
          </label>
          <button @click="sendData" class="forms_button"><p class="forms_button_text">Отправить</p></button>
        </div>
        <div class="map">
          <div class="map_contact">
            <img alt="Vue logo" src="../../assets/pic/map_contact_pic_1.svg" class="map_contact_pic">
            <p class="map_contact_text">+38(000) 000-00-00</p>
          </div>
          <div class="map_contact">
            <img alt="Vue logo" src="../../assets/pic/map_contact_pic_2.svg" class="map_contact_pic">
            <p class="map_contact_text">г. Киев, ул. Драгоманова, 74к</p>
          </div>
          <div class="map_contact">
            <img alt="Vue logo" src="../../assets/pic/map_contact_pic_3.svg" class="map_contact_pic">
            <p class="map_contact_text">Lorem-ipsum@gmail.com</p>
          </div>
          <img alt="Vue logo" src="../../assets/pic/map_contact_map.jpg" class="map_contact_map">
        </div>
      </div>
    </div>
    <button @click="goHome" class="home_button"><p class="home_button_text">Главная</p></button>
  </div>
</template>

<script>
export default {
  methods: {
    sendData () {
      alert('Данные отправлены!')
    },
    goHome () {
      this.$router.push('/')
    }
  }
}
</script>

<style>
  .contacts{
    width: 100%;
    height: 719px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contacts_in{
    width: 1145px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .contacts_in_title{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    color: #333333;
  }
  .contacts_in_svg_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contacts_in_svg_item{
    margin: 10px;
  }
  .forms_map{
    width: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .form_name_phone{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  .forms{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .input_name_phone{
    width: 362px;
    height: 48px;
    border: 2px solid #8B8B8B;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 15px;
  }
  .input_email{
    width: 754px;
    height: 48px;
    border: 2px solid #8B8B8B;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 25px;
    padding: 15px;
  }
  .input_message{
    width: 754px;
    height: 150px;
    border: 2px solid #8B8B8B;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 25px;
    resize: none;
    padding: 15px;
  }
  .forms_button{
    width: 166px;
    height: 40px;
    border: 2px solid #BF5B20;
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
  }
  .forms_button_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.0357143em;
    color: #BF5B20;
  }
  .map{
    display: flex;
    flex-direction: column;
  }
  .map_contact{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }
  .map_contact_text{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-left: 15px;
  }
</style>
