<template>
  <div class="services">
    <div class="services_in">
      <div class="services_title"><p class="services_title_text">Услуги</p></div>
      <div class="services_svg_items">
        <img alt="Vue logo" src="../../assets/pic/services_line.svg" class="services_svg_item">
        <img alt="Vue logo" src="../../assets/pic/services_romb.svg" class="services_svg_item">
        <img alt="Vue logo" src="../../assets/pic/services_line.svg" class="services_svg_item">
      </div>
      <div class="services_menu">
        <div class="services_menu_item">
          <img alt="Vue logo" src="../../assets/pic/services_menu_pic1.svg" class="services_menu_pic">
          <p class="services_menu_item_text">Уголовное право</p>
        </div>
        <div class="services_menu_item">
          <img alt="Vue logo" src="../../assets/pic/services_menu_pic2.svg" class="services_menu_pic">
          <p class="services_menu_item_text">Закон и недвижимость</p>
        </div>
        <div class="services_menu_item">
          <img alt="Vue logo" src="../../assets/pic/services_menu_pic3.svg" class="services_menu_pic">
          <p class="services_menu_item_text">Семейное право</p>
        </div>
        <div class="services_menu_item">
          <img alt="Vue logo" src="../../assets/pic/services_menu_pic4.svg" class="services_menu_pic">
          <p class="services_menu_item_text">Финансовое право</p>
        </div>
      </div>
      <div class="services_main_pic_text">
        <img alt="Vue logo" src="../../assets/pic/services_main_pic.jpg">
        <div class="services_main_text">
          <p class="services_main_text_in">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nunc est,<br> tempus eget mi ac,
            fermentum efficitur felis. Pellentesque vestibulum eros<br> sit amet mauris luctus, in auctor justo commodo. Sed eu sapien a
            ex<br> gravida pharetra sit amet in ipsum. Cras at arcu consectetur, aliquet tellus<br> et, laoreet ligula. Ut et tellus libero.
            Nunc finibus mollis molestie. Nunc<br> luctus nunc erat, in fermentum tortor volutpat at.</p>
          <p class="services_main_text_in">Fusce volutpat lacinia urna in fermentum. In auctor, arcu eu commodo<br> egestas, massa elit congue nisl,
            a tincidunt metus libero a libero. Fusce nec<br> leo non mi pretium scelerisque sed eu risus. Curabitur non velit et sapien<br> convallis mattis et id libero.</p>
          <button @click="knowMore" class="services_main_button"><p class="services_main_button_text">Узнать больше</p></button>
        </div>
      </div>
    </div>
    <button @click="goHome" class="home_button"><p class="home_button_text">Главная</p></button>
  </div>
</template>

<script>
export default {
  methods: {
    knowMore () {
      alert('Ты со временем вы узнаете больше!')
    },
    goHome () {
      this.$router.push('/')
    }
  }
}
</script>

<style>
  .services{
    width: 100%;
    height: 719px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(../../assets/pic/services-pic.jpg);
    background-size: cover;
    flex-direction: column;
  }
  .services_in{
    width: 1145px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .services_title_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    color: #333333;
  }
  .services_svg_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .services_svg_item{
    margin: 10px;
  }
  .services_menu{
    width: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .services_menu_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .services_menu_item_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    margin-left: 5px;
  }
  .services_main_pic_text{
    width: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px
  }
  .services_main_text {
    justify-content: space-around;
  }
  .services_main_text_in{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 10px;
  }
  .services_main_button{
    width: 166px;
    height: 40px;
    border: 2px solid #BF5B20;
    box-sizing: border-box;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    background-image: none;
    background: transparent;
    background-color: transparent;
  }
  .services_main_button_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #BF5B20;
  }
  .home_button{
    width: 100px;
    height: 30px;
    border: 2px solid #333333;
    box-sizing: border-box;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    background-image: none;
    background: transparent;
    background-color: transparent;
    margin-top: 30px;
  }
  .home_button_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #333333;
  }

</style>
