<template>
  <div>
   <div class="header_top">
        <div class="header_top_menu">
          <router-link to="/" tag="div" class="header_top_menu_item"><a class="header_top_menu_item_text">главная</a></router-link>
          <img alt="Vue logo"  src="../assets/pic/footer_romb.svg" class="header_top_romb">
          <router-link to="/services" tag="div" class="header_top_menu_item"><a class="header_top_menu_item_text">услуги</a></router-link>
          <img alt="Vue logo"  src="../assets/pic/footer_romb.svg" class="header_top_romb">
          <router-link to="/aboutLawyer" tag="div" class="header_top_menu_item"><a class="header_top_menu_item_text">о адвокате</a></router-link>
          <img alt="Vue logo"  src="../assets/pic/footer_romb.svg" class="header_top_romb">
          <router-link to="/advantages" tag="div" class="header_top_menu_item"><a class="header_top_menu_item_text">преимущества</a></router-link>
          <img alt="Vue logo"  src="../assets/pic/footer_romb.svg" class="header_top_romb">
          <router-link to="/certificates" tag="div" class="header_top_menu_item"><a class="header_top_menu_item_text">сертификаты</a></router-link>
          <img alt="Vue logo"  src="../assets/pic/footer_romb.svg" class="header_top_romb">
          <router-link to="/contacts" tag="div" class="header_top_menu_item"><a class="header_top_menu_item_text">контакты</a></router-link>
        </div>
    </div>
  </div>
</template>

<style lang="sass">
.header_top
 width: 100%
 height: 70px
 display: flex
 align-items: center
 justify-content: center
 background: #333333

.header_top_menu
 display: flex
 flex-direction: row
 justify-content: space-between
 align-items: center

.header_top_menu_item
 /*font-family: Open Sans;*/
 font-style: normal
 font-weight: normal
 font-size: 14px
 line-height: 19px
 text-transform: uppercase

.header_top_menu_item_text
 color: white
 text-decoration: none

.header_top_romb
 margin-right: 15px
 margin-left: 15px
</style>
