<template>
  <div class="container">
    <div class="header">
      <div class="header_in">
        <div class="header_title">
          <img alt="Vue logo" src="../assets/pic/header_title_logo.svg" class="header_title_logo">
        </div>
        <div class="lawyer_protection">
          <p class="lawyer_protection_text_title">Юридическая защита</p>
          <div class="lawyer_protection_svg_items">
            <img alt="Vue logo" src="../assets/pic/lawyar_protection_line.svg" class="lawyar_protection_svg_item">
            <img alt="Vue logo" src="../assets/pic/lawyar_protection_romb.svg" class="lawyar_protection_svg_item">
            <img alt="Vue logo" src="../assets/pic/lawyar_protection_line.svg" class="lawyar_protection_svg_item">
          </div>
          <p class="lawyer_protection_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar hendrerit sem, <br>
            et pellentesque mi imperdiet eu. Fusce porttitor sollicitudin tincidunt.</p>
          <button @click="leaveRequest" class="lawyer_protection_button"><p class="lawyer_protection_button_text">Оставить заявку</p></button>
        </div>
        <img alt="Vue logo" src="../assets/pic/header_end.svg" class="header_end_svg">
      </div>
    </div>
    <div class="footer">
      <div class="footer_signs">
          <img alt="Vue logo"  src="../assets/pic/footer_sign_1.svg" class="footer_sign" @click="openFacebook">
          <img alt="Vue logo"  src="../assets/pic/footer_sign_2.svg" class="footer_sign" @click="openInstagram">
          <img alt="Vue logo"  src="../assets/pic/footer_sign_3.svg" class="footer_sign" @click="openTwitter">
          <img alt="Vue logo"  src="../assets/pic/footer_sign_4.svg" class="footer_sign" @click="openGoogle">
        </div>
      </div>
    </div>
</template>

<script>
export default {
  methods: {
    leaveRequest () {
      alert('Заявка оставлена! С вами свяжутся!')
    },
    openFacebook () {
      window.open('https://www.facebook.com')
    },
    openInstagram () {
      window.open('https://www.instagram.com/')
    },
    openTwitter () {
      window.open('https://twitter.com/')
    },
    openGoogle () {
      window.open('https://google.com/')
    }
  }
}
</script>

<style lang="sass">
  body, p
    margin: 0

  .header
    width: 100%
    height: 649px
    display: flex
    align-items: center
    justify-content: center
    position: relative
    background-blend-mode: multiply
    background-image: url(../assets/pic/header-pic.jpg)
    background-color: rgba(0, 0, 0, 0.6)
    background-size: cover
    flex-direction: column

  .header_in
    width: 1145px
    height: 440px
    display: flex
    flex-direction: column
    justify-content: space-between
    /*position: relative;*/
    align-items: center

  .header_title
    width: 1145px
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center

  .header_title_in
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  .header_title_in_text
    /*font-family: Open Sans;*/
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 19px
    text-transform: uppercase
    color: #FFFFFF
    margin: 10px

  .lawyer_protection
    width: 1145px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  .lawyer_protection_text_title
    /*font-family: Playfair Display;*/
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 53px
    text-align: center
    color: #FFFFFF

  .lawyer_protection_svg_items
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

  .lawyar_protection_svg_item
    margin: 10px

  .lawyer_protection_text
    /*font-family: Open Sans;*/
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
    text-align: center
    color: #FFFFFF

  .lawyer_protection_button
    width: 200px
    height: 40px
    border: 2px solid #FFFFFF
    box-sizing: border-box
    border-radius: 2px
    background-image: none
    background: transparent
    background-color: transparent
    margin: 10px

  .lawyer_protection_button_text
    /*font-family: Playfair Display;*/
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 24px
    text-align: center
    color: #FFFFFF

  /*-----------------------------------------------*/

  .footer
     width: 100%
     height: 70px
     display: flex
     align-items: center
     justify-content: center
     background: #333333

  .footer_in
    width: 1145px
    height: 30px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  .footer_menu, .footer_signs
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  .footer_menu_item
    /*font-family: Open Sans;*/
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 19px
    text-transform: uppercase
    color: #FFFFFF

  .footer_romb
    margin-right: 10px
    margin-left: 10px

  .footer_sign
    margin-left: 15px
    cursor: pointer

</style>
